body{
	margin: 0px;
}
/*==============header css start====================*/
.header{
	width: 100%;
	height: 100px;
	/*float: left;*/
	position: absolute;
	z-index: 1000;
	color: white;
}
.header h2{
	float: left;
	list-style: none;
	margin-left: 40px;
	margin-top: 35px;
}
.header_ul{
	
	list-style: none;
	margin-left:35%;
	margin-top:35px;
}
.header_ul li{
	font-weight: 500;
	margin-top: 3px;
	float: left;
	padding: 5px 5px 10px 20px;
}
.home_ul{
	/*margin-top: 35px;*/
	display: none;
	position: absolute;
	background: #FFFFFF;
}
.home_ul li{
	margin-right: 50px;
	list-style: none;
	float: none;
	font-size: 12px;
	color:gray;
}
.header_ul li a{
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-weight: 300;
}
.home_li:hover .home_ul{
	display: block;
}
.header_ul li a:hover{
	color: red;
}
.hr{
	width: 100%;
	height: 0.5px;
	margin-top: 100px;
	background: ghostwhite;
}
.home_ul_3{
	width: 90%;
	background:#FFFFFF;
	display: none;
	position: absolute;
	margin-left: 110px;
	
	margin-top: -25px;
}
.home_li_2:hover .home_ul_3{
	display: block;
}
/*==============header css end====================*/

/*=============banner css start======================*/
.banner{
	float: left;
	/*position: absolute;*/
	background: #9c55bb;
	width: 100%;
	height: 800px;
	/*添加背景图片*/
	background: url(../img/about_us_title_bg.jpg) no-repeat;
    background-size: cover;
}

.banner_large_character{
	width: 70%;
	font-size: 5em;
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	margin-left: auto;/*让文字布局居于页面中间*/
	margin-right: auto;
	margin-top: 300px;
}
.banner_small_character{
	width: 50%;
	font-size: 25px;
	color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.banner_button{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/*.banner_button1{
	border: 1px solid #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
}*/
/*=============banner css end======================*/

/*=============ad css start======================*/
.ad{
	float: left;
	/*position: absolute;*/
	background:#F8F8FF;
	width: 100%;
	height: 400px;
	/*margin-top:60%;*/
}
.ad_block{
	width: 85%;
	background: #F8F8FF;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
.ad_block_item{
	position: relative;/*绝对定位*/
	top: 0px;
	width: 29%;
	height: 90%;
	background: #FFFFFF;
	border: 1px solid #000000;
	float: left;
	margin-left: 40px;
	/*margin-right: 40px;*/
	margin-top: 35px;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	
}
.ad_block_item:hover{
	box-shadow: 0px 1px 25px 5px #808080;
	top: -8px;
}
.item1{
	border-top: 3px solid red;
}
.item2{
	border-top: 3px solid green;
}
.item3{
	border-top: 3px solid blue;
}
/*=============ad css end======================*/

/*=============declaration css start======================*/
.declaration{
	float: left;
	width: 100%;
	height: 400px;
	background: url(../img/testimonials_bg.jpg);
	background-attachment: fixed;/*让图片固定不动*/
	background-size: cover;
	margin-top: 50px;
	
}
.declaration_text{
	color: white;
	font-size: 28px;
	width: 85%;
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
