body{
	margin: auto;
	background: #F5FFFA;
}
/*****************header*******************/
.header{
	border-bottom:1.5px solid rgba(255,255,255,0.1);
		
	width: 100%;
	height: 90px;
	background:rgba(255,255,255,0);
	
}
.header_1{
	border-bottom:1.5px solid rgba(255,255,255,0.1);
	background:rgba(255,255,255,0);
}

.header_syros{
	
	margin-left: 50px;
	padding-right: 50px;
	color: white;
	float: left;
}

.header h1{
	
	margin-left:30px ;
	color: white;
	float: left;
}
.header_ul{
	
	margin-top: 15px;
	margin-left:100px ;
	float: left;
	list-style: none;
	
	
}

.header_ul li{
	float: left;
	padding: 15px 15px 15px 15px;
}
.header_ul li a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300px;
	
}
.home_ul{
	position: absolute;
	display: none;
	list-style: none;
	float: left;
	background: rgba(255,255,255,0.4);
}

.home_ul li{
	
	margin-left: -35px;
	float: none;
}
.home_ul1{
	display: none;
	list-style: none;
	position: absolute;
	background: rgba(255,255,255,0.4);
	margin-left: 60px;
	margin-top: -25px;
}

.home_ul1 li{
	
	float: none;
}
/*伪类选择器*/
.header_ul li a:hover{
	color: aquamarine;
}
.home_li:hover .home_ul{
	display: block;
}
.home_li1:hover .home_ul1{
	display: block;
}
/*****************header*******************/
/*****************banner*******************/
.banner{
	
	float: left;
	width: 100%;
	height: 700px;
	background: pink;
	background-attachment: fixed;
	background-image: url(../img/about_us_title_bg.jpg);
	background-size: cover;
	
}
.banner_large_character{
	width: 80%;
	font-size: 5em;
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}
.banner_large{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 30%;
	color:rgba(255,255,255,0.4);
}

.button{
	
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 15%;
	height: 40px;
	
}
.button1{
	border: 1px solid #FFFFFF;
	background: rgba(0, 0, 0, 0.2);
}
/*****************banner*******************/
/*****************ad*******************/
.ad{
	width: 100%;
	height: 400px;
	background: #F5FFFA;
	float: left;
	z-index: 1001;
	float: left;
	/*margin-top: 700px;*/
}
.ad_block{
	
	width: 70%;
	background: #F5FFFA;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.ad_block_item{
	position: relative;
	top: 0px;
	width: 25%;
	height: 90%;
	background: #FFFFFF;
	border: 1px solid #f0f0f0;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	border-radius: 5px;
	 box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
	
}
.ad_block_item:hover{
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.3);
    top: -5px;
    
}
.item1{
	border-top: 3px solid palevioletred;	
}

.item2{	
	border-top: 3px solid #7FFFD4 ;
}

.item3{	
	border-top: 3px solid deeppink;
}

.declaratlon{
	
	float: left;
	width: 100%;
	height: 500px;
	background: url(../img/quote_mission.jpg);
	background-attachment: fixed;
	
}



.parallax {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				width: 100%;
				/*height: 100%;*/
				background: url(img/about_us_title_bg.jpg);
				background-size: cover;
				background-attachment: fixed;
				/*background-position: 50% 0;*/
				z-index: -1;
			}
			
			
			
			
.declaratlon_text{
	font-style:italic;
    text-align: center;
	color: white;
	font-size: 5em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

/**********************************/
.md6{
	height: 700px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}
.md3{
	text-align: center;
	margin-top: 100px;
	
}
.md8{
	margin-top: 50px;
}
.hr{
	width: 50px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	background: red;
}
p{
	font-style:italic;
	color: darkgrey;
}
.p_1{
	/*font-style:italic;*/
	margin-left: 130px;
	width: 500px;
}
.dibu{
	
	background: black;
}
.dibu_neirong{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	
	height: 100%;
	width: 80%;
}
.dibu_kongbai{
	height: 50px;
}
h5{
	margin-top: 100px;
	font-size: 20px;
	color: white;
}
.fen_ge{
	width: 80%;
	height: 1px;
	background: rgba(255,255,255,0.2);
}
.fen_ge1{
	margin-right: 500px;
	width: 50px;
	height: 2px;
	background: orangered;
}
.dibu_nr{
	width: 77%;
	color: rgba(255,255,255,0.4);
}
hr{
	margin-right: 60px;
	width: 80%;
	height: 1px;
	background: #F0F0F0;
}
.dibu_tu{
	width: 77%;
	
}
.dibu_tu1{
	
	margin-left: 5px;
	margin-top: 10px;
	
}
.ye_jiao{
	width: 100%;
	height: 70px;
	background: #F0F0F0;
	margin-top: 50px;
}
.p_yejiao{
	
	text-align: center;
	margin-bottom: 10px;
}
