
body {
	margin: 0px;
}

/*=============Header Css Start=================*/

.header {
	width: 100%;
	height: 100px;
	position: absolute;
	color: white;
}

.header h2 {
	font-weight: 550;
	margin-top: 30px;
	float: left;
	margin-left: 30px;
	margin-right: 350px;
}

.header_ul {
	list-style: none;
	margin-top: 30px;
}

.header_ul li {
	float: left;
	padding: 5px 5px 5px 5px;
}

.header_ul li a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.header_ul li a:hover {
	color: yellow;
}

.home_li:hover .home_ul {
	display: block;
}

.home_ul {
	border-top: 3px solid yellow;
	margin-top: 37px;
	width: 100px;
	position: absolute;
	background-color: transparent;
	display: none;
}

.home_ul li {
	border-right: 1px solid #ccc;
	float: none;
	list-style: none;
	color: darkgray;
	font-weight: 300;
	padding-right: 50px;
}

.servies_li:hover .servies_ul {
	display: block;
}

.servies_ul {
	background-color: transparent;
	border-top: 3px solid yellow;
	position: absolute;
	background: white;
	display: none;
	margin-left: 180px;
	margin-top: -29px;
}

.servies_ul li {
	border-right: 1px solid #ccc;
	color: darkgray;
	font-weight: 300;
	float: none;
	list-style: none;
	color: black;
	padding-right: 50px;
}

.header_bg {
	width: 100%;
	height: 1px;
	background: white;
	margin-top: 93px;
}


/*=============Header Css End=================*/


/*=============Banner Css Start=================*/

.banner {
	float: left;
	width: 100%;
	height: 800px;
	background: url(../img/slide_1.jpg) no-repeat;
	background-size: cover;
}

.banner_largeText {
	width: 70%;
	font-size: 5em;
	color: white;
	font-weight: 600;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
}

.banner_smallText {
	width: 70%;
	font-size: 1.5em;
	color: white;
	font-weight: 350;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.banner_btnText {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10PX;
	width: 9%;
	font-size: 0.9em;
	color: white;
	font-weight: 350;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.banner_btnText:hover{
	border: none;
	background: orange;
}

/*=============Banner Css End=================*/


/*=============itembg Css Start=================*/

.itembg {
	float: left;
	width: 100%;
	height: 580px;
	background: #fcfbfb;
}

.itemSmallbg {
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.itemSbg {
	position: relative;
	top: 0px;
	margin-left: 30px;
	width: 30%;
	height: 60%;
	background: white;
	float: left;
	margin-top: 112px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.itemSbg:hover {
	box-shadow: 0px 1px 20px 5px #CCCCCC;
	top: -5px;
}

.item1 {
	border-top: 3px solid red;
}

.jewel{
	width: 50px;
	height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/钻石.png);
	margin-top: 50px;
}

.jewel_text1{
	width: 80%;
	height: 12%;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jewel_text2{
	width: 80%;
	height: 24%;
	color: gray;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jewel_text3{
	width: 80%;
	height: 10%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: red;
}

.item2 {
	border-top: 3px solid green;
}

.jewel2{
	width: 50px;
	height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/book.png) no-repeat;
	margin-top: 50px;
}

.jewel2_text1{
	width: 80%;
	height: 12%;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jewel2_text2{
	width: 80%;
	height: 24%;
	color: gray;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jewel2_text3{
	width: 80%;
	height: 10%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: green;
}

.item3 {
	border-top: 3px solid blue;
}

.jewel3{
	width: 50px;
	height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/shop.png) no-repeat;
	margin-top: 50px;
}

.jewel3_text1{
	width: 80%;
	height: 12%;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jewel3_text2{
	width: 80%;
	height: 24%;
	color: gray;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jewel3_text3{
	width: 80%;
	height: 10%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: blue;
}


/*=============itembg Css End=================*/

/*=============com Css Start=================*/
.com{
	width: 100%;
	height: 700px;
	float: left;
}

.declaration{
	float: left;
	width: 100%;
	height: 500px;
	background: url(../img/testimonials_bg.jpg) no-repeat;
	background-attachment: fixed;
}

.declaration_text{
	color: white;
	font-size: 2em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: 250;
	margin-top: 80px;
}
