
.large_title {
	width: 80%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #16181B;
	font-size: 40px;
	margin-top: 60px;
}

.text_content {
	width: 80%;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	color: gray;
	margin-top: 150px;
	text-align: center;
}

.img-fw {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.banner1 {
	margin-top: 100px;
	width: 100%;
	height: 400px;
	float: left;
	background: url(../img/quote_mission.jpg);
	background-attachment: fixed;
	
}
.bgh1 {
	font-family: segoe script;
	color: white;
	font-size: 4.5em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: 250;
	margin-top: 170px;
}

.section-wrap {
	position: relative;
	width: 100%;
	height: 500px;
}

.banner_content {
	width: 80%;
	height: 20px;
	color: white;
	font-size: 5em;
	font-family: segoe script;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
.icon4{
	position: absolute;
	z-index: 1000;
	margin-top: 80px;
	margin-left:600px;
}

/*.more{
	width: 18%;
	height: 100%;
	float: right;
	background: yellow;
}*/
.more_zi{
	margin-top: 80px;
	font-size: 16px;
	width: 20%;
	margin-left: 10px;
	
}
.people {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.da_title {
	margin-top: 20px;
	width: 60%;
	height: 15px;
	font-size: 32px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.ab_br {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.da_content {
	margin-top: 16px;
	width: 50%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
	color: gray;
}

.img {
	position: relative;
	top: 0px;
	transition: all 0.5s ease-in-out;
	width: 30%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hr_zc {
	font-family: "franklin gothic book";
	color: darkgray;
}

.end {
	width: 90%;
}

.ab_end {
	width: 100%;
	height: 500px;
	float: left;
	margin-top: 100px;
	background: #191b1f;
}

.br1 {
	width: 80%;
	border-top: 1px solid #ccc;
}

.br2 {
	width: 130px;
	border-top: 3px solid brown;
}

.endtitle {
	margin-top: 40px;
	font-size: 2em;
	color: white;
	width: 40%;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
}

.end_say {
	color: grey;
	width: 80%;
	height: 40px;
	font-size: 20px;
}

.icon {
	width: 80%;
	margin-top: 120px;
}

.icon1 {
	padding-left: 8px;
	font-size: 20px;
	color: #ccc;
}

.icon1:hover {
	color: orange;
}

.icon3 {
	padding-left: 8px;
	font-size: 18px;
	color: gray;
}

.icon3:hover {
	color: orange;
}

.ending {
	margin-top: 400px;
	color: white;
	width: 100%;
	height: 80px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.img1 {
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	width: 60px;
	height: 60px;
}

.t1 {
	color: gray;
	margin-top: 10px;
	font-size: 16px;
}

.end_yue {
	color: gray;
	font-family: segoe script;
	font-size: 0.5em;
}

.end_yue:hover {
	color: orange;
}