body {
	margin: 0px;
	
}

.one1 {
	color: white;
	width: 100%;
	height: 100px;
	position: absolute;
	z-index: 1000;
}

.one1 h1 {
	float: left;
	margin-left: 35px;
}


/**
 * 第一层嵌套
 */

.one1_ul {
	float: left;
	list-style: none;
	margin-left: 350px;
}

.one1_ul li {
	float: left;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
}

.one1_ul li a {
	text-decoration: none;
	color: white;
}

.one1_ul li a:hover {
	color: red;
}


/**
 * 第二层嵌套
 */

.Home_ul {
	position: absolute;
	display: none;
}

.Home_ul li {
	width: 150px;
	
	float: none;
	list-style: none;
}

.one1_ul li:hover .Home_ul {
	display: block;
}


/**
 * 第三层嵌套
 */

.servies_ul {
	position: absolute;
	display: none;
}

.servies_ul li {
	width: 150px;
	margin-left: 55px;
	margin-top: -15px;
}

.Home_ul li:hover .servies_ul {
	display: block;
}
/**=============================================================first============*/
.banner {
	width: 100%;
	height: 650px;
	float: left;
	background-attachment: fixed;
	background-image:url(../img/about_us_title_bg.jpg);
	background-size: cover;
	}
.banner_large_character{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-weight: bolder;
	text-align: center;
	font-size: 5em;
	margin-top: 270px;
}
/*==========================================================contain Two========*/
.contain{
	width: 80%;
	height: 700px;
    float: left;
    margin-top: 200px;
}
.row{
	float: left;
	width: 100%;
	height: 300px;
	color: black;
	text-align: center;
}
.intro-text{
	font-size: 1em;
}
.img-fw{
	width: 120%;
	height: 150%;
	margin: -30px 0px 0px 100px;
}

/*=================================================================Three========*/
.three{
	background-attachment: fixed;
	width:100%;
	height:600px;
	float: left;
	background-image: url(../img/quote_mission.jpg);
	}
.container_fix{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.text-center{
	width:100%;
	height:400px;
	font-size: 60px;
    line-height: 10.0;
    padding: 0;
    border: 0;
    margin-top: 200px;
    margin-right: auto;
	margin-left: auto;
    font-weight: border;
    font-family: "Merriweather", serif;
    text-align: center;
    font-style: italic;
    background-attachment: fixed;
    line-height: 1.5;
    color: #fff
}
/*=================================================================Four========*/
.four{
	width: 100%;
	height: 1000px;
	float: left;
}
.heading{
	margin-top: 300px;
	position: relative;
	margin-bottom: 30px;
}
.bottom-line:after{
	content:"";
	display: block;
	width: 56px;
	border-bottom: 2px solid #e76041;
	margin: 12px auto 24px;
	z-index: 1;
	position: relative;
}
.subheading{
	width: 80%;
	font-family:"Merriweather", serif ;
	 font-style: italic;
	 font-size: 18px;
	 line-height: 34px;
}
.row{
	margin-left: 50px;
	margin-left: auto;
	margin-right: auto;
}
.img_col{
	width:25%;
	height:30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
}
.owl-pagination{
	position: relative;
	bottom: 0;
	margin-top: 40px;
	text-align: center;
	width: 100%;
}
.owl-page{
	display: inline-block;
	padding: 5px;
	margin: 12px auto 24px;
	position: relative;
	border-bottom: 2px solid #E76041;
}
/*===============================================================Five=========*/
.FFF{
	width:100%;
	height: 700px;
	float: left;
	background-color: black;
}
.ab{
	margin-bottom: 16px;
    font-size: 20px;
    color: #fff;
    position: relative;
}
.cd{
	color: #fff;
	margin-bottom: 24px;
    line-height: 26px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.ef{
	margin-bottom: 16px;
    font-size: 20px;
    color: #fff;
    position: relative;
    
}
.text-center1{
	display: inline-block;
    font-size: 12px;
    line-height: 32px;
}
.url{
	font-size: 14px;
    margin-bottom: 1px;
    font-weight: normal;
    line-height: 1.5;
}
.picture{
	margin-bottom: 16px;
    font-size: 20px;
    color: #fff;
    position: relative;
}
